doctype html
html(lang="fr")
	include jade/head

body.disable_transitions

	div.page.PRX

		section.w_section0.PRX_group
			//- .PRX_layer.PRX_layer-0
			.PRX_layer.PRX_layer-1
				include jade/header
				include jade/nav
			.PRX_layer.PRX_layer-2
			//- .PRX_layer.PRX_layer-3
		
		section.w_section1.PRX_group
			.PRX_layer.PRX_layer-2

		section.w_section2.PRX_group
			.PRX_layer.PRX_layer-2
