

include jade/helpers-js.jade
include jade/helpers-jade.jade

doctype html
html(lang="fr")
	include jade/head

body
	paper-toast#toast(text="Your message has been sent. Thank you for contacting us!")
	.popups(visible="false")
		for p in popups
			.popup(id=p.id)
				.popup_title
					h5!= markup(p.titre)
					a.popup_close &times;
				.popup_inner
					.popup_texte
						p!= markup(p.texte)

	//- include jade/font-tweaking

	div.page

		nav.nav
			include jade/nav

		header.section.section-header
			a(name='header')
			.layer_bg(style='background-image: url(img/'+header.image+')')
			.layer_fg
				include jade/header
			
		
		for section in sections
			section.section(class='theme_'+section.theme, style=(section.image)?'background-image: url(img/'+section.image+')':false)
				a(name=section.id)
				.section_maxwidth
					for bloc in section.blocs
						+render(bloc)

		section.section.section-contact
			a(name='contact')
			.section_maxwidth
				.bloc(flex-count=2)
					.item(flex=1)
						.contact-panel.contact-form
							.titre Vous pouvez me contacter en remplissant les champs suivants :
							contact-form
						.contact-panel.social-bar
							.titre Vous pouvez également me retrouver sur les réseaux sociaux :
							a(href="https://fr.linkedin.com/in/agneslachenal"): img(src="img/linkedin.svg")
							a(href="https://www.facebook.com/makaeventetmakaepop?ref=hl"): img(src="img/facebook.svg")
							a(href="https://twitter.com/makae_events"): img(src="img/twitter.svg")
							a(href="https://instagram.com/makaebyagnes"): img(src="img/instagram.svg")
							a(href="http://makae-by-agnes.blogspot.fr/"): img(src="img/blogger.svg")

							//- a(href="http://www.viadeo.com/profile/00219tdkrrgclzwx"): img(src="img/viadeo.svg")
					.item(flex=1)
						for bloc in contact.blocs
							+render(bloc)

		footer.section.section-footer
			a(name='footer')
			.section_maxwidth
				for bloc in footer.blocs
					+render(bloc)
		
	include jade/bottom-scripts
