head
	meta(charset="utf-8")
	title= header.titre
	meta(name="description", content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis laudantium quod laboriosam qui animi dignissimos doloribus commodi repellendus nostrum, minus fuga voluptas corrupti blanditiis porro aspernatur, cumque dolores voluptatem temporibus.")
	meta(name="viewport", content="width=device-width")
	link(rel="stylesheet", href="css/main.css", inline="true")
	script(src="js/main.js")
	script(src="bower_components/webcomponentsjs/webcomponents.js")
	link(href='https://fonts.googleapis.com/css?family=Lato:400,700|Josefin+Sans:300|Droid+Serif:400,700|Montserrat', rel='stylesheet', type='text/css')

	link(rel="import", href="contactform.html")
	