header.header
	h2
		.l1 <span>Pour que les</span> <span class="small">petites</span> <span>entreprises</span>
		.l2 <span>vivent aussi leurs</span> <span class="big">grands</span> <span>moments</span>
	h1 MAKA