

ul
	li.logo
		img.nav_makaelogo(src='/logo/MakaeFlowerSticker.svg')
	
	for section in sections
		if(section.nav)
			li.menu: a(href='#'+section.id)= section.nav
	
	li.menu: a(href='#contact') Contact