

ul
	li.logo
		img.nav_makaelogo(src='/logo/MakaeFlowerSticker.svg')
	li.menu: a(href='#makaevent') Makaevent
	li.menu: a(href='#makaepop') Makaepop
	li.menu: a(href='#news') News
	li.menu: a(href='#contact') Contact