/* INSPI
---------------------------------------
http://tympanus.net/Tutorials/3DShadingWithBoxShadows/


/* INIT
---------------------------------------*/
	// Variables
	$c_prune: #7f1b53;
	$c_prune_l: mix($c_prune, #fff, 40%);
	$c_orange: #f37422;
	$c_orange_l: mix($c_orange, #fff, 40%);

	$ff_Lato:       'Lato', sans-serif;
	$ff_Josefin:    'Josefin Sans', sans-serif;
	$ff_Droid:      'Droid Serif', serif;
	$ff_Montserrat: 'Montserrat', sans-serif;
	$ff_Alegreyasc: 'Alegreya Sans SC', sans-serif;
	$ff_Quicksand:  'Quicksand', sans-serif;
	
	$m_section: 40px;
	$p_paragraphe: 10px;
	$w_box3D: 300px;
	$h_box3D: 200px;

	// Extends
	%dib{display: inline-block;vertical-align: middle}
	%ulr{list-style: none;margin: 0;padding: 0}
	%PRX_debug{outline: 5px red solid;}
	%maw{max-width:1000px;margin: auto}
	%m_general{margin-bottom: 40px}
	%clearfix{
		&:before{content: " ";display: table;}
		&:after{content: " ";display: table;clear: both;}
	}
	%basic_section{z-index: 10;position: relative;overflow: hidden;}
	%fullbleed{position: absolute;top: 0;bottom: 0;left: 0;right: 0;}

	// Top Style
	html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
	html {box-sizing: border-box;}
	*, *:before, *:after {box-sizing: inherit;}
	
	

	

/* FONTS
---------------------------------------*/
	@font-face {
	    font-family: 'wolf_in_the_cityregular';
	    src: url('../fonts/wolf_in_the_city-webfont.eot');
	    src: url('../fonts/wolf_in_the_city-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/wolf_in_the_city-webfont.woff2') format('woff2'),
	         url('../fonts/wolf_in_the_city-webfont.woff') format('woff'),
	         url('../fonts/wolf_in_the_city-webfont.ttf') format('truetype'),
	         url('../fonts/wolf_in_the_city-webfont.svg#wolf_in_the_cityregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	.section-header h2{font-family: $ff_Josefin;font-size: 44px;line-height: 52px;letter-spacing: 1px}
	.bloc_titre{       font-family: $ff_Josefin;font-size: 17px;line-height: 38px;letter-spacing: 4px}
	.page{             font-family: $ff_Quicksand;font-size: 14px;line-height: 17px;letter-spacing: 0px}




/* LAYOUT
---------------------------------------*/
	body{font-family: $ff_Lato; font-size: 16px}
	h1, h2, h3, h4, h5{margin: 0;padding:0}
	p{margin: 0}
	a{
		color:$c_prune_l;
		&:hover{background: rgba(0,0,0,.1);text-decoration: none}
		// &:visited{color:inherit}
	}
	
	// PARALLAX
	// .page{@extend %fullbleed;perspective: 100px&;overflow-x: hidden;overflow-y: auto;}
	// .section{position: relative;overflow: hidden;}
	// .layer_fg{transform: translateZ(0);}
	// .layer_bg{@extend %fullbleed;top: -100%;bottom: 60%;background-position: 100% 100%;background-size: cover;transform: translateZ(-100px) scale(2);}



/* POPUP
---------------------------------------*/
	.popups{
		@extend %fullbleed;position: fixed;z-index: 10;background: rgba(0,0,0,.5);;
		&[visible=false]{display: none;}
		.popup{position: absolute;left: 20%;right: 20%;top: 20%;bottom: 20%;background: #fff;border-radius: 4px;box-shadow: 0 0 15px rgba(0,0,0,.5);}
			.popup_title{background-color: #F5F5F5;border-radius: 4px 4px 0 0;height: 10%;display: flex;justify-content:space-between;align-items:center;overflow: hidden}
				.popup_close{font-size: 27px;cursor: pointer;text-align: center;width: 30px;}
				h5{padding: 8px;font-size: 100%;flex:1}
			.popup_inner{height: 90%;padding: 20px;}
				.popup_texte{overflow-y: scroll;height: 100%;padding: 20px;border:1px solid #eee}
	}



/* SECTIONS
---------------------------------------*/
	#makaelogo{width: 100%;max-width: 500px;max-height: 190px;
		.text{font-family: wolf_in_the_cityregular;font-size: 200px}
		.text_stroke{font-family: wolf_in_the_cityregular;stroke:#fff;stroke-width: 13;font-size: 200px}
		.text .maka{fill:$c_prune}
		.text .e{fill:$c_orange}
	}

	.section{
		&{background: no-repeat center top;overflow: hidden;}
		&_maxwidth{@extend %maw;margin-top: $m_section}
		&_maxwidth > *{margin-bottom: $m_section;}
	}

	/* FLEX */
	.no-flex{
		[flex-count]{display:block;text-align: center}
		[flex-count="1"] > [flex]{display: inline-block;vertical-align: top;width: (90% / 1)}
		[flex-count="2"] > [flex]{display: inline-block;vertical-align: top;width: (90% / 2)}
		[flex-count="3"] > [flex]{display: inline-block;vertical-align: top;width: (90% / 3)}
		[flex-count="4"] > [flex]{display: inline-block;vertical-align: top;width: (90% / 4)}
		[flex-count="5"] > [flex]{display: inline-block;vertical-align: top;width: (90% / 5)}
	}
	.flex{
		[flex-count]{display:flex;align-items:stretch;justify-content:center;flex-flow: row wrap;}
		[flex-count] > [flex="1"]{flex:1}
		[flex-count] > [flex="2"]{flex:2}
		[flex-count] > [flex="3"]{flex:3}
		[flex-count] > [flex="4"]{flex:4}
		[flex-count] > [flex="5"]{flex:5}
		[flex-count] > [flex="6"]{flex:6}
		[flex-count] > [flex="7"]{flex:7}
		[flex-count] > [flex="8"]{flex:8}
		[flex-count] > [flex="9"]{flex:9}
		[flex-count] > [flex="10"]{flex:10}
	}
	
	.item_fondclair{background: rgba(255,255,255,.1)}

	/* THEMES */
	.theme_orange{
		background-color: $c_orange;color:$c_orange_l;
		a{color:$c_orange_l}
		.bloc_items .i_titre{color:#fff;}
	}
	.theme_prune{
		background-color: $c_prune;color: $c_prune_l;
		a{color: $c_prune_l}
		.bloc_items .i_titre{color:#fff;}
	}
	.theme_blanc{background-color: #fff;}
	
	.theme_gris{background-color: #ddd;}


/* NAV
---------------------------------------*/
	.nav{
		&{position: fixed; top:-200px; left:0; right:0; background: transparentize(#000, 0.2);z-index: 10;transition: all 0.5s;height: 70px}
		&_makaelogo{width: 100%;max-width: 50px;max-height: 50px;}
		ul{display:flex;@extend %ulr;align-items: center;	}
		li{padding:10px}
		li.logo{flex:8}
		li.menu{}
	}
	body[scroll="true"] .nav{top:0px;}
	a[name]{position: absolute;margin-top: -70px;height: 1px;width: 100%;display: block;z-index: -1;}

/* HEADER
---------------------------------------*/
	.section-header{
		&{padding: 60px 0;position: relative;background: #222;}
		&{text-align: center;}
		h2{
			&{font-size: 270%;text-transform: uppercase;color: #FFF;margin-bottom: 50px;font-family: $ff_Josefin;text-shadow: 0 0 5px rgba(0,0,0,0.4)}
			small{color:$c_prune;font-size: 55%}
			strong{color:$c_prune;font-size: 145%}
		}

		.layer_bg{background-size: cover;position: absolute;top: 0;left: 0;bottom: 0;right: 0;background-position: right bottom;}
		.layer_fg{position: relative;}
	}

/* STYLES DE CONTENUS
---------------------------------------*/
	.bloc_titre{
		&{text-align: center;font-family: $ff_Josefin;padding: 60px 0;}
		h3{font-size: 230%;}
		h4{font-size: 160%;}
	}
	// .bloc_image{
	// 	&{text-align: center;}
	// 	img{max-width: 100%;border-radius: 2px;}
	// 	img[src*="jpg"]{box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.3);}
	// 	figcaption{}
	// }
	// .bloc_textes{

	// 	.texte{text-align: center;}
	// 	.item_titre{display: block;font-size: 130%;margin-bottom: $p_paragraphe}

	// 	.liste ul{margin: 0;padding-left: 30px;text-align: left;}
		
	// 	.droite{@extend %clearfix;text-align: left}
	// 	.gauche{@extend %clearfix;text-align: left}
	// 	.dessus{text-align: center}
	// 	.dessous{text-align: center}

	// 	.image{display: inline-block;}
	// 	.image img{vertical-align: top;border-radius: 2px;max-width: 100%;}
	// 	.image img[src*="jpg"]{box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.3);}
	// 	.dessus .image{margin-bottom: $p_paragraphe}
	// 	.dessous .image{margin-top: $p_paragraphe}
	// 	.droite .image{float: right;margin: 0 0 $p_paragraphe*2 $p_paragraphe*2}
	// 	.gauche .image{float: left; margin: 0 $p_paragraphe*2 $p_paragraphe*2 0}
	// }
	.css3d .bloc_box3D{
		.boxes{@extend %ulr;  display: flex;flex-wrap: wrap;justify-content: center;}
		.w_box{width: $w_box3D;height: $h_box3D;margin: 30px;perspective: 1000px;}
		.box{width: $w_box3D;height: $h_box3D;display: block;transform-style: preserve-3d;transform: translateZ(- $w_box3D/2);transition: transform 350ms;}
		.box::after{content: '';width: $w_box3D;height: $w_box3D;position: absolute;bottom: 0;box-shadow: 0 30px 50px rgba(0,0,0,0.3);transform-origin: 100% 100%;transform: rotateX(90deg) translateY($w_box3D/2);transition: box-shadow 350ms;}

		.box:hover{transform: rotateY(-78deg) translateZ(20px);}
		.box:hover::after{box-shadow: 20px -5px 50px rgba(0,0,0,0.3);}

		.box_img,.box_info{position: absolute;width: $w_box3D;height: $h_box3D;background-color: #fff;backface-visibility: hidden;}
		.box_img{transform: translateZ($w_box3D/2);background-size: cover;background-repeat: no-repeat;}
		.box_img img{width: 100%}
		.box_info{transform: rotateY(90deg) translateZ($w_box3D/2);padding: 10px;text-align: center}

		.box_orange .box_img{}
		.box_orange .box_info{background:$c_orange;color:mix($c_orange, #fff,20%);}
		.box_prune .box_img{}
		.box_prune .box_info{background:$c_prune;color:mix($c_prune, #fff,20%);}
	}
	.no-css3d .bloc_box3D,
	.touch .bloc_box3D{
		.boxes{@extend %ulr;}
		.w_box{margin: 10px}
		.box_info{display: none}
	}


/* ITEMS
---------------------------------------*/
.i{
	&{display: block;margin:10px;padding: 10px;min-width: 200px;font-size: 130%;line-height: 140%}

	&_titre{font-size: 140%;line-height: 110%;margin-bottom: $p_paragraphe;@extend %clearfix;}
	&_titre span{display: flex;align-items: center;}
	&_titre img{width:60px;float: left}

	&_texte{}
	&_texte_centre{text-align: center;}
	&_texte_gauche{text-align: left;}
	&_texte_droite{text-align: right;}
	&_texte_justif{text-align: justify}

	&_liste{margin: 0; padding: $p_paragraphe $p_paragraphe*2;}
	&_liste li{}

	&_img{display: inline-block;margin: 0;}
	&_img img{vertical-align: top;border-radius: 2px;max-width: 100%;width:100%}
	&_img img[src*="jpg"]{box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.3);}
	&_img_seule{width: 100%;}
	&_img_dessus{margin-bottom: $p_paragraphe}
	&_img_droite{float: right;margin: 0 0 $p_paragraphe*2 $p_paragraphe*2}
	&_img_dessous{margin-top: $p_paragraphe}
	&_img_gauche{float: left; margin: 0 $p_paragraphe*2 $p_paragraphe*2 0}
	
}




/* SECTION CONTACT
---------------------------------------*/
.section-contact{
	&{background-color: #ddd}
	.bloc_titre{padding: 0;}
	.contact-panel{margin-bottom: 20px;background: #F7F7F7;padding: 10px;}
	.contact-form{}
	.social-bar{}
	.titre{font-size: 110%;}
	.social-bar .titre{}
	.social-bar a{margin-left: 20px;width: 40px;display: block}
	.social-bar a:hover{background: none;}
	.social-bar a img{width: 100%;}

	.no-flex &{
		.social-bar{text-align: center;}
		.social-bar .titre{margin-bottom: 10px}
		.social-bar a{display: inline-block;}
	}
	.flex &{
		.social-bar{display:flex;align-items: center;}
		.social-bar .titre{flex:1}
	}
}


/* FOOTER
---------------------------------------*/
	.section-footer{background: #555;color:#fff;}
	.section-footer .bloc_titre{padding:0}
	.section-footer .bloc_textes a{text-decoration: none}
	.section-footer .bloc_textes .liste ul{@extend %ulr;}





/* MQ
---------------------------------------*/
@media only screen and (max-width: 700px){
	.popups .popup{left: 5%;right: 5%;top: 5%;bottom: 5%;}
}






/* DEBUG MODE
---------------------------------------*/
%debug{border:3px solid red;position: relative}
%debug_style{color:#fff;font-size: 12px;font-family: monospace;}
%debug_after{position: absolute;top: 0;left: 0;content:attr(debug);}
.debug .bloc[debug]{@extend %debug}
.debug .item[debug]{@extend %debug; border-color:green}
.debug .bloc[debug]:after{@extend %debug_after;background: red;@extend %debug_style}
.debug .item[debug]:after{@extend %debug_after;background: green;@extend %debug_style}
.debug .item[flex]:before{position: absolute;bottom: 0;right: 0;content:"size " attr(flex);background: green;@extend %debug_style}